# Rows to Columns

In [ ]:
# Imports Libraries
import xlwings as xw
import pandas as pd
import numpy as np

In [ ]:
# Active Workbook
wb = xw.books.active
sht = wb.sheets.active

# Converting sheet data in to pandas dataframe
oData = sht.range('A1').options(pd.DataFrame, expand='table', index=False).value
oData.head()

In [ ]:
# Removing Duplicates
uContry=oData.drop_duplicates(subset=('PrimaryTaxonomy','Country'), keep="last")
uContry=uContry.sort_values('Country', ascending=True)

In [ ]:
# Active Workbook
wb = xw.books.active
sht = wb.sheets.active

# Converting rows to columns in active sheet
for i in range(len(uContry)):
    val1=str(uContry.iloc[i]['Country'])
    val2=str(uContry.iloc[i]['PrimaryTaxonomy'])
    val3=str(uContry.iloc[i]['Region'])
    fData = oData[(oData['Country'].str.contains(val1) & (oData['PrimaryTaxonomy'].str.contains(val2)))]
    fData=fData.sort_values('Company', ascending=False)
    
    sht.range('A'+str(i+2)).value=val2
    sht.range('B'+str(i+2)).value=val1
    sht.range('C'+str(i+2)).value=val3
    sht.range('D'+str(i+2)).options(transpose=True,index=False,header=False).value = fData['Company']

In [ ]:
# Active Workbook
wb = xw.books.active
sht = wb.sheets.active

# Converting sheet data in to pandas dataframe
oData = sht.range('A1').options(pd.DataFrame, expand='table', index=False).value
oData.head()

In [ ]:
# Merge all columms data to one columns buy ';' 
oData['Company'] = oData[oData.columns[4:]].apply(lambda x: ';'.join(x),axis=1)

In [ ]:
# Removing '1*,2*,3*' from the string
oData['Company'] = oData['Company'].str.replace("\d+\*\s*", '')

In [ ]:
# Active Workbook
wb = xw.books.active
sht = wb.sheets.active

# OutPut
sht.range('A1').value=oData